{% extends "base.html" %}
{% block additional_head %} 
    <style>
        input {margin: 10px;}
    </style>
{% endblock %}
{% block subtitle %}코로나 그래프{% endblock %}
{% block content %}
   
    <body>
        <form method="post">
            <select name="sido">
                {% for sido in sidos %}
                    <option value="{{ sido }}" {% if selected_sido == sido %}selected{% endif %}>{{ sido }}</option>
                {% endfor %}
            </select>
            <select name="variable">
                {% for variable in variables %}
                    <option value="{{ variable }}" {% if selected_variable == variable %}selected{% endif %}>{{ variable }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="그래프 보기">
        </form>

        {% if graph %}
            <img src="{{ graph }}" alt="코로나19 기간 대비 데이터 비교 그래프">
        {% endif %}
    </body>
    
{% endblock %}